	<div id="tf-home" class="text-center">
	 <div class="overlay">
        <div class="content">
            <h1>Welcome to <strong><span class="color">Innovation Lab</span></strong></h1>
            <p class="lead"><strong>{{userName}}</strong></p>
    <div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Developer Name</label>
                <input type="text" ng-model="userName" class="form-control" id="exampleInputEmail1" placeholder="Enter your name">
            </div>
        </div>
        <div style="float: left;clear:both;margin-left:16px;">
           <button type="submit" ng-click="goToService();" class="btn btn-primary">GO</button>
        </div>
    </div>

