    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Take a look at <strong>our services</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-desktop"></i>
                    <h4><strong>Algorithms</strong></h4>
                    <p>Lists all utility related to algorithms and Datastructures visually</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-mobile"></i>
                    <h4><strong>Spring Service</strong></h4>
                    <p>Lists all Spring Based implementations</p>
                </div>
                <div class="col-md-3 col-sm-6 service" ng-click="plotGraph();">
                    <i class="fa fa-mobile"></i>
                    <h4><strong>D3 PLOT</strong></h4>
                    <p>Basic Area Plot</p>
                </div>
            </div>
            <div class="row">
                <div id="plotGraph">
                </div>
            </div>
        </div>
    </div>