    <!-- Team Page
    ==========================================-->
    <div style="margin-top:68px;" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Meet <strong>our team</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div class="owl-theme row">
                    <div class="item">
                        <div class="thumbnail" style="width: 50%;">
                            <img src="../img/team/venkat.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Venkatesan Rengasamy</h3>
                                <p>Developer</p>
                                <p>Coding..Coding..Coding</p>
                            </div>
                        </div>
                         <div class="thumbnail" style="width: 50%;">
                            <img src="../img/team/yuvi.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Yuvaraj Ramasamy</h3>
                                <p>Developer</p>
                                <p>Think..Collect..Coding</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>